<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    <div id="main">
        {{>header}}
        <div class="about">
            <h1>Welcome to Shutter Up</h1>
            <h3>Hi! My name is Saket Subham. This is an Image gallery website. I made this website using backend Node js and Express Js </h3>
        </div>
        {{>footer}}
    </div>
</body>
</html>