<div class="foot" id="foot">
    <nav>
        <a href="#"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
        <a href="https://www.instagram.com/mithilanchal_vibes/?hl=en"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-snapchat"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
    </nav><br>
    <p>© 2021 Shutter Up. The Shutter Up design is a trademark of Shutter Up. Owner of this website is Saket
        Subham and Ritik Raj.<br>Browse millions of high-quality stock photos, illustrations, and videos.</p>
</div>